/vendor
/drivers
/Uploads/*
/Uploads/temp/*
/Uploads/flussus_01/*
/Uploads/flussus_02/*
/Uploads/OCR/*
/Uploads/OCR-ri/*
/src/Flussu/OLD/*
/src/Flussu/Flussuserver/OLD/*
/Cache
/Logs
/Log_sys
/config/services.json
/node_modules
.env
composer.lock
*.BAK
*.log