{
  "flussu":{
    "version":"4.2",
    "release":"20250625"
  },
  "services": {
    "google":{
        "type": "service_account",
        "project_id": "nome-progetto",
        "private_key_id": "...",
        "private_key": "-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n",
        "client_email": "account-service@nome-progetto.iam.gserviceaccount.com",
        "client_id": "...",
        "auth_uri": "https://accounts.google.com/o/oauth2/auth",
        "token_uri": "https://oauth2.googleapis.com/token",
        "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
        "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/account-service%40nome-progetto.iam.gserviceaccount.com"
    },
    "microsoft":{
        "tenant_id": "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx",
        "client_id": "yyyyyyyy-yyyy-yyyy-yyyy-yyyyyyyyyyyy",
        "client_secret": "questa_è_una_secret_generata_da_azure_ad",
        "resource": "https://graph.microsoft.com"
    },
    "aws":{
      "aws_access_key_id": "AKIAXXXXXXXXEXAMPLE",
      "aws_secret_access_key": "xxxxxx/xxxxxxxxxxxxxx/xxxxxxxxxxxxxxxEXAMPLE",
      "region": "us-east-1"
    },
    "ai_provider":{
      "open_ai":{
        "auth_key":"6768-insert-your-api-key-8768",
        "model":"o1-mini",
        "chat-model":"o3"
      },
      "xai_grok":{
        "auth_key":"6768-insert-your-api-key-8768",
        "model":"grok-3-mini-fast"
      },
      "ggl_gemini":{
        "auth_key":"6768-insert-your-api-key-8768",
        "model":"gemini-2.0-flash"
        "chat-model":"gemini-2.0-flash"
      },
      "deepseek":{
        "auth_key":"6768-insert-your-api-key-8768",
        "model":"deepseek-reasoning"
        "chat-model":"deepseek-chat"
      },
      "ant_claude":{
        "auth_key":"6768-insert-your-api-key-8768",
        "model":"claude-3-5-sonnet-20241022"
        "chat-model":"claude-3-5-sonnet-20241022"
      }
    }
  },
  "webhooks":{
    "zapier":{
      "sign":["Zapier"],
      "call":"ZapierController@apicall"
    },
    "stripe":{
      "sign":["Stripe/","//stripe.com/"],
      "call":"StripeController@webhook"
    },
    "revolut":{
      "sign":["Revolut ","/revolut "],
      "call":"RevolutController@webhook"
    }
  }
}
  